@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Young Serif", serif;

  --color-opera-madder: #9B1B1B;
  --color-opera-madder-hover: #7a1515;
  --color-opera-madder-soft: #fcf1f1;

  --color-sage-ash: #5B6D5B;
  --color-sage-ash-hover: #4a594a;
  --color-sage-ash-soft: #f2f4f2;

  --color-mist-blue: #7EACB5;
  --color-mist-blue-hover: #6a969f;
  --color-mist-blue-dark: #436066;
  --color-mist-blue-soft: #f2f7f8;

  --color-graphite: #222222;
  --color-graphite-muted: #555555;
  --color-graphite-soft: #eeeeee;
}

:root {
  --tw-prose-body: var(--color-graphite);
  --tw-prose-headings: var(--color-opera-madder);
  --tw-prose-lead: var(--color-graphite-muted);
  --tw-prose-links: var(--color-opera-madder);
  --tw-prose-bold: var(--color-graphite);
  --tw-prose-counters: var(--color-sage-ash);
  --tw-prose-bullets: var(--color-sage-ash);
  --tw-prose-hr: var(--color-graphite-soft);
  --tw-prose-quotes: var(--color-graphite);
  --tw-prose-quote-borders: var(--color-opera-madder);
  --tw-prose-captions: var(--color-sage-ash);
  --tw-prose-code: var(--color-graphite);
  --tw-prose-pre-code: white;
  --tw-prose-pre-bg: var(--color-graphite);
  --tw-prose-th-borders: var(--color-graphite-soft);
  --tw-prose-td-borders: var(--color-graphite-soft);
}

body {
  @apply font-sans antialiased text-graphite bg-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-normal text-opera-madder tracking-tight;
}

h1 {
  @apply text-[2.5rem] leading-[1.1] mb-12;
}

h2 {
  @apply text-3xl mt-16 mb-8;
}

h3 {
  @apply text-2xl mt-12 mb-6;
}

p {
  @apply mb-6 leading-[1.6];
}

.prose-container {
  @apply max-w-(--breakpoint-md) mx-auto;
}
