@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  @apply font-sans antialiased text-gray-900 bg-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold;
}
