@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Young Serif', serif;

  --color-wealden-green: #34a19c;
  --color-wealden-green-light: #86c7c4;
  --color-wealden-green-dark: #2b817d;

  --color-orchard-terracotta: #e27c6a;
  --color-orchard-terracotta-light: #e89688;
  --color-orchard-terracotta-dark: #b66354;

  --color-knole-ink: #2d2d41;
  --color-knole-ink-light: #575767;
  --color-knole-ink-dark: #252433;

  --color-bluebell-haze: #8480b6;
  --color-bluebell-haze-light: #9d99c5;
  --color-bluebell-haze-dark: #6a6692;

  --color-downs-chalk: #f0f1f2;
  --color-downs-chalk-light: #f3f4f5;
  --color-downs-chalk-dark: #c0c1c2;
}

:root {
  --tw-prose-headings: var(--color-orchard-terracotta);
  --tw-prose-links: var(--color-bluebell-haze);
  --tw-prose-quote-borders: var(--color-bluebell-haze);
  --tw-prose-pre-code: white;
  --tw-prose-pre-bg: var(--color-knole-ink);
}

body {
  @apply font-sans antialiased text-knole-ink bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-normal text-orchard-terracotta tracking-tight;
}

h1 {
  @apply text-[2.5rem] leading-[1.1] mb-12;
}

h2 {
  @apply text-4xl mt-16 mb-8;
}

h3 {
  @apply text-3xl mt-12 mb-6;
}

p {
  @apply mb-6 text-base leading-relaxed;
}

.prose-container {
  @apply max-w-3xl mx-auto px-4;
}

.prose {
  --tw-prose-body: var(--color-knole-ink);
  --tw-prose-lead: var(--color-knole-ink);
  --tw-prose-bold: var(--color-knole-ink);
  --tw-prose-counters: var(--color-knole-ink);
  --tw-prose-bullets: var(--color-knole-ink);
  --tw-prose-hr: var(--color-downs-chalk-dark);
  --tw-prose-quotes: var(--color-knole-ink);
  --tw-prose-captions: var(--color-knole-ink-light);
  --tw-prose-code: var(--color-knole-ink);
  --tw-prose-th-borders: var(--color-downs-chalk-dark);
  --tw-prose-td-borders: var(--color-downs-chalk-dark);
  --tw-prose-invert-bullets: var(--color-downs-chalk-dark);
  --tw-prose-invert-counters: var(--color-downs-chalk-dark);
}
