---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Sevenoaks Saxes - A community saxophone ensemble" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Sevenoaks Saxes</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body class="min-h-screen flex flex-col bg-white">
		<Navigation />
		<main class="flex-grow container mx-auto px-4 py-12 sm:px-6 lg:px-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
